.slider-container {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    overflow: hidden;
    cursor: pointer;
  }
  
  .slider-image {
    display: none;
    width: 100%;
    height: auto;
    transition: opacity 0.3s;
  }
  
  .slider-image.active {
    display: block;
  }
  